<li><a href="/books" class="{% if active_nav == "books" %}contrast{% endif %}">Books</a></li>
<li><a href="/authors" class="{% if active_nav == "authors" %}contrast{% endif %}">Authors</a></li>
{% if nav.can_upload_publications %}
<li><a href="/upload" class="{% if active_nav == "upload" %}contrast{% endif %}">Upload</a></li>
{% endif %}
{% if nav.can_edit_permissions %}
<li><a href="/admin/users" class="{% if active_nav == "admin" %}contrast{% endif %}">Users</a></li>
{% endif %}
{% if nav.can_invite_users %}
<li><a href="/admin/invites" class="{% if active_nav == "invites" %}contrast{% endif %}">Invites</a></li>
{% endif %}
<li>
  <form method="post" action="/signout">
    <button type="submit" class="outline secondary">Sign out</button>
  </form>
</li>
